@import 'common';
@import 'skip';

body {
    background: #f4f5f7;
}

#g_message {
    .message_box {
        background: #fff;
        width: 925px;
        border: 1px solid #eee;
        margin: 40px auto;
        box-shadow: 0 0 5px #eee;
        overflow: hidden;
        .look,
        .send {
            padding: 0 80px;
            h3 {
                margin-top: 20px;
                line-height: 50px;
                font-size: 20px;
                color: $mainblue;
                text-align: center;
            }
            .speak {
                line-height: 60px;
                .send_user {
                    position: relative;
                    float: left;
                    width: 50%;
                    .user {
                        top: 13px;
                        left: 50px;
                        font-size: 16px;
                        color: #878998;
                        position: absolute;
                        font-size: 16px;
                        width: 160px;
                        height: 34px;
                        border: 1px solid $mainblue;
                        padding: 0 30px;
                        box-sizing: border-box;
                        line-height: 34px;
                        text-align: left;
                        background: url('../img/arrow_down_03.jpg') no-repeat 120px center;
                        border-radius: 5px;
                    }
                }
                .people {
                    font-size: 16px;
                    float: left;
                    width: 50%;
                }
                .date {
                    font-size: 14px;
                    float: right;
                    width: 30%;
                    color: #878998;
                    text-align: right;
                }
            }
            textarea {
                border: 1px solid #dee0e2;
                display: block;
                min-height: 233px;
                box-sizing: border-box;
                width: 100%;
                text-align: left;
                text-indent: 30px;
                line-height: 34px;
                padding: 10px 30px;
                font-size: 16px;
                color: #878998;
            }
            .button_l {
                min-height: 180px;
                box-sizing: border-box;
                position: relative;
                padding-top: 55px;
                text-align: center;
                div {
                    width: 130px;
                    height: 50px;
                    display: inline-block;
                    font-size: 20px;
                    color: #fff;
                    line-height: 50px;
                    border-radius: 5px;
                    margin: 0 120px;
                }
                .btn1 {
                    background: #3b83ee;
                }
                .btn2 {
                    background: #c2c3ca;
                }
            }
        }
        h2 {
            color: $mainblue;
            margin-top: 10px;
            line-height: 56px;
            font-size: 24px;
            text-align: center;
        }
        .page_c {
            text-align: center;
        }
        .notice_l {
            padding-top: 20px;
            padding-bottom: 20px;
            li {
                line-height: 60px;
                height: 60px;
                overflow: hidden;
                padding: 0 30px;
                font-size: 16px;
                &:hover {
                    a {
                        color: $mainblue;
                    }
                }
                .date {
                    width: 190px;
                    float: right;
                    font-size: 14px;
                    color: #878998;
                    text-align: right;
                }
                .title {
                    width: 632px;
                    float: left;
                }
            }
        }
        .letter_l {

            padding-top: 20px;
            padding-bottom: 20px;
            li {
                line-height: 60px;
                height: 60px;
                overflow: hidden;
                padding: 0 30px;
                font-size: 16px;
                &:hover {
                    a {
                        color: $mainblue;
                    }
                }
                .date {
                    width: 300px;
                    float: right;
                    /*padding-right: 120px;*/
                    box-sizing: border-box;
                    font-size: 14px;
                    color: #878998;
                    text-align: right;
                }
                .title {
                    width: 500px;
                    float: left;
                }
            }
        }
        .select {
            width: 100%;
            height: 50px;
            border-bottom: 1px solid #dee0e2;
            position: relative;
            .notice {
                left: 20px;
            }
            .letter {
                left: 128px;
            }
            .new {
                width: 96px;
                height: 40px;
                color: $mainblue;
                border-radius: 5px;
                border: 1px solid $mainblue;
                line-height: 40px;
                text-align: center;
                font-size: 16px;
                bottom: 5px;
                right: 30px;
                position: absolute;
            }
            .switch {
                position: absolute;
                bottom: 0;
                width: 102px;
                height: 36px;
                color: #32333c;
                font-size: 18px;
                background: #c2c3ca;
                text-align: center;
                line-height: 39px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
            .active {
                color: #fff;
                background: #4e94fe;
                background: linear-gradient(to right, #7b98fd, #4a95fe);
            }
        }
    }
}