@import 'common';
#m_table_h {
    width: 960px;
    height: 36px;
    margin: 25px auto;
    line-height: 36px;
    .edit {
        button {
            width: 105px;
            background: $mainblue url('../../img/edit_03.png') no-repeat 20px center;
            height: 36px;
            line-height: 36px;
            border: 0;
            font-size: 16px;
            color: #fff;
            border-radius: 5px;
            text-indent: 30px;
        }
    }
    .input {
        margin-left: 60px;
        input {
            padding: 0 10px;
            width: 160px;
            height: 30px;
            border: 1px solid #c2c3ca;
            border-radius: 5px;
            font-size: 12px;
            color: #878998;
        }
    }
    .select {
        margin-left: 20px;
        select {
            width: 93px;
            height: 31px;
            vertical-align: top;
            background: url('../../img/arrow_down_03.jpg') no-repeat 70px center;
            margin-top: 2px;
        }
    }
    .search {
        margin-left: 15px;
        button {
            margin-top: 2px;
            font-size: 14px;
            box-sizing: border-box;
            height: 30px;
            line-height: 30px;
            color: $mainblue;
            width: 55px;
            border: 1px solid $mainblue;
            border-radius: 3px;
            background: #fff;
        }
    }
}

