<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd

		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd


		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

<!-- 	<context:property-placeholder location="classpath:/ext/jdbc.*.properties"
		ignore-unresolvable="true" order="2" />
 -->
	<util:properties id="cfg" location="classpath:/config.*.properties"></util:properties>
	<context:property-placeholder
		properties-ref="cfg" ignore-unresolvable="true" order="3" />

	<context:component-scan base-package="cc.joymaker.app.saas" />
	<context:component-scan base-package="cc.joymaker.app.base" />
	<context:annotation-config />

    <import resource="context-web.xml" />
	<import resource="context-service.xml" />
	<!-- <import resource="classpath*:/ext/*.xml" /> -->
</beans>
