page-audit-text {
  background: #f4f5f7;
  .theme_list {

    .list_c {
      &.list_type1 {
        border-top: 0.05rem solid #f4f5f7;
        font-size: 0.32rem;
        color: #717380;
      }
      &.list_type2 {
        padding: 0.2rem 0.3rem;
        .list_title {
          padding: 0.1rem 0;
        }
      }
      &.list_type2_1 {
        .list_people {
          display: inline-block;
          box-sizing: border-box;
          width: 1.3rem;
          height: 0.5rem;
          text-align: center;
          padding: 0.05rem;
          border: 1px solid #999aa7;
          margin: 0.1rem;
          color: #999aa7;
          border-radius: 0.05rem;
          font-size: 0.24rem;
        }
      }
      &.list_type2_2 {
        .list_content {
          .list_people {
            display: block;
            float: left;
            box-sizing: border-box;
            width: 1.5rem;
            height: 0.7rem;
            line-height: 0.55rem;
            text-align: center;
            padding: 0.05rem 0.1rem;
            border: 1px solid #999aa7;
            margin: 0.1rem;
            color: #999aa7;
            border-radius: 0.05rem;
            font-size: 0.24rem;
          }
          .list_active{
                      border: 1px solid #3b83ee;
          color: #3b83ee;
          }
          .list_h1 {
            line-height: 0.3rem;
          }
        }
      }
      &.list_type3 {
        .list_content {
          font-size: 0.28rem;
          color: #717380;
        }
      }
      &.list_type4 {
        .list_content {
          font-size: 0.24rem;
          color: #717380;
        }
      }
      &.list_type5 {
        .list_content {
          font-size: 0.24rem;
          color: #c2c3ca;
        }
      }
      display: flex;
      justify-content: space-between;
      line-height: 0.8rem;
      margin: 0;
      background: #fff;
      padding: 0.31rem 0.3rem;
      font-size: 0.3rem;
      line-height: 1.5;
      border-bottom:1px solid #dee0e2;
      .list_title {
        width: 20%;
        color: #32333c;
        font-size: 0.28rem;
      }
      .list_h {}
      .back {
        text-align: center;
        color: #fff;
        font-size: 0.36rem;
        background: #3b83ee;
        border-radius: 5px;
        width: 6.3rem;
        height: 1.1rem;
        line-height: 1.1rem;
        margin: 0.5rem auto;
      }
      .list_content {
        width: 80%;
        .file {
          position: absolute;
          opacity: 0;
          filter: alpha(opacity=0);
          display: block;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }
        .textarea {
          width: 100%;
          display: block;
          height: auto;

          word-break: break-all;
          border: 0;
          overflow: auto;
          min-height: 0.38rem;
          line-height: 0.38rem;
        }
        .submit_img {
          width: 100%;
          .img_box {
            position: relative;
            display: inline-block;
            height: 1.1rem;
            margin: 0.1rem;
            img {
              height: 1.1rem;
              margin: 0.1rem;
            }
            .delete {
              position: absolute;
              width: 0.4rem;
              height: 0.4rem;
              top: 0;
              right: 0;
              background: url(../assets/img/delete.png) no-repeat center center;
              background-size: contain;
            }
          }
        }
        .switch {
          width: 100%;
          height: 0.3rem;
          text-align: right;
          margin-bottom: 0.1rem;
          .explain {
            line-height: 0.3rem;
            font-size: 0.3rem;
            position: relative;
            top: -0.05rem;
            margin-right: 0.5rem;
            color: red;
          }
          .unexplain {
            line-height: 0.3rem;
            font-size: 0.3rem;
            position: relative;
            top: -0.05rem;
            margin-right: 0.5rem;
            color: #3b83ee;
          }
          .on_off {
            width: 0.55rem;
            height: 100%;
            display: inline-block;
          }
          .on {
            background: url(../assets/img/switch_03.png) no-repeat center center;
            background-size: contain;
          }
          .off {
            background: url(../assets/img/switch2_03.png) no-repeat center center;
            background-size: contain;
          }
        }
        .bottom_line {
          border-bottom: 1px dashed #dee0e2;
          padding-bottom: 0.1rem;
          margin-bottom: 0.1rem;
        }
        .bottom_line:last-child {
          border-bottom: 0;
          padding-bottom: 0;
          margin-bottom: 0;
        }
        .list_people {
          display: inline-block;
          padding: 0.05rem;
          border: 1px solid #999aa7;
          margin: 0.1rem;
          color: #999aa7;
          border-radius: 0.05rem;
          font-size: 0.24rem;
        }
        .list_active {
          border: 1px solid #3b83ee;
          color: #3b83ee; // background: #3b83ee;
          // color: #fff;
        }
        .img_up {
          position: relative;
          border: 1px solid #3b83ee;
          color: #3b83ee;
        }
      }
    }
  }
}
